h1 {
    display: inline-block;
    color: white;
    margin-top: 50px;
    margin-left: 120px;

}

.heading {
    text-align: center;
    font-size: larger;
    font-family: 'Caveat';
}

.pp {
    width: 200px;
    float: right;
}

html {
    background-color: #55836f;
}

.image {
    width: 150px;
    float: right;
    padding-top: 15px;
    padding-right: 20px;
}

.img {
    width: 150px;
    float: left;
    padding-top: 15px;
    padding-left: 20px;
}

.font {
    font-family: 'Bebas Neue';
    padding-left: 15px;
}

.font1 {
    font-family: 'Bebas Neue';
    padding-right: 15px;
}

.main {
    background-color: yellow;
    width: 33%;
    display: inline-block;
    margin-top: 100px;
    height: 300px;
    margin-right: 90px;
    margin-left: 60px;
}

.container {
    display: flex;
    justify-content: center;
    position: fixed;
}